Repository AY2021S1-CS2113-T14-2/tp, pull requests merged in 2020-10, with the labels that each got.

#46 Fix #45
  src/main/java/seedu/ecardnomics/deck/Deck.java
  src/main/java/seedu/ecardnomics/deck/DeckList.java
  src/main/java/seedu/ecardnomics/parser/DeckParser.java
  src/test/java/seedu/ecardnomics/UiTest.java
  src/test/java/seedu/ecardnomics/deck/DeckListTest.java
  src/test/java/seedu/ecardnomics/deck/DeckTest.java
  src/test/java/seedu/ecardnomics/deck/FlashCardTest.java
Labels: priority.Medium, type.Task

#67 Add --version command support
  src/main/java/seedu/ecardnomics/DeleteCommand.java
  src/main/java/seedu/ecardnomics/Main.java
  src/main/java/seedu/ecardnomics/Ui.java
  src/main/java/seedu/ecardnomics/command/VersionCommand.java
  src/main/java/seedu/ecardnomics/command/deck/AddCommand.java
  src/main/java/seedu/ecardnomics/command/deck/DeckCommand.java
  src/main/java/seedu/ecardnomics/command/deck/DeleteCommand.java
  src/main/java/seedu/ecardnomics/command/deck/DoneEditCommand.java
  src/main/java/seedu/ecardnomics/command/deck/HelpCommand.java
  src/main/java/seedu/ecardnomics/command/deck/ListCommand.java
  src/main/java/seedu/ecardnomics/command/normal/HelpCommand.java
  src/main/java/seedu/ecardnomics/parser/DeckParser.java
  src/main/java/seedu/ecardnomics/parser/NormalParser.java
Labels: severity.Low, type.Task

#89 add Design-Commands section to DG
  docs/DeveloperGuide.md
  docs/images-dg/DG-Design-Commands.png
  docs/images-dg/DG-Design-Sequence-Diagram.png
Labels: priority.High, type.Task

#87 [DG] update UI component under Design section
  docs/DeveloperGuide.md
  docs/images-dg/DG-Design-Model.png
Labels: type.Guide, type.Task

#100 update UG with Game Mode feature
  docs/UserGuide.md
  src/main/java/seedu/ecardnomics/Main.java
  src/main/java/seedu/ecardnomics/Ui.java
  src/main/java/seedu/ecardnomics/command/game/DoneGameCommand.java
  src/main/java/seedu/ecardnomics/command/game/GameCommand.java
  src/main/java/seedu/ecardnomics/command/game/GameResponseCommand.java
  src/main/java/seedu/ecardnomics/command/game/GameStartCommand.java
  src/main/java/seedu/ecardnomics/command/game/HelpCommand.java
  src/main/java/seedu/ecardnomics/command/normal/HelpCommand.java
  src/main/java/seedu/ecardnomics/command/normal/StartCommand.java
  src/main/java/seedu/ecardnomics/deck/Deck.java
  src/main/java/seedu/ecardnomics/game/Game.java
  src/main/java/seedu/ecardnomics/game/GameEngine.java
  src/main/java/seedu/ecardnomics/game/GameStorage.java
  src/main/java/seedu/ecardnomics/parser/DeckParser.java
  src/main/java/seedu/ecardnomics/parser/GameParser.java
  src/main/java/seedu/ecardnomics/parser/NormalParser.java
Labels: priority.High, type.Guide

#104 add Game Mode implementation to DG
  docs/DeveloperGuide.md
  docs/images-dg/DG-Design-Commands.png
  docs/images-dg/Game-Mode-Design.png
  docs/images-dg/Game-Mode-Sequence.png
Labels: priority.High, type.Guide, type.Task

#105 add Product Scope and User Stories
  docs/DeveloperGuide.md
Labels: priority.High, type.Guide

#93 Closes #72
  src/main/java/seedu/ecardnomics/Ui.java
  src/main/java/seedu/ecardnomics/command/deck/ListCommand.java
  src/main/java/seedu/ecardnomics/deck/Deck.java
  src/main/java/seedu/ecardnomics/deck/FlashCard.java
  src/test/java/seedu/ecardnomics/UiTest.java
  src/test/java/seedu/ecardnomics/command/deck/ListCommandTest.java
  src/test/java/seedu/ecardnomics/deck/DeckTest.java
  src/test/java/seedu/ecardnomics/deck/FlashCardTest.java
Labels: type.Task

#109 Developer Guide: Add section on pretty printing feature
  docs/DeveloperGuide.md
  docs/images-dg/PP-Sequence.png
Labels: type.Guide

#114 Add PowerPoint Feature including JUnit Tests, UG and DG
  build.gradle
  data/deckList.txt
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/images-dg/DG-Design-Commands.png
  docs/images-dg/DG-PPTX-Sequence-Diagram.png
  pptx/Micro-Economics.pptx
  src/main/java/seedu/ecardnomics/Main.java
  src/main/java/seedu/ecardnomics/Ui.java
  src/main/java/seedu/ecardnomics/command/deck/HelpCommand.java
  src/main/java/seedu/ecardnomics/command/normal/HelpCommand.java
  src/main/java/seedu/ecardnomics/command/normal/PowerPointCommand.java
  src/main/java/seedu/ecardnomics/parser/DeckParser.java
  src/main/java/seedu/ecardnomics/parser/NormalParser.java
  src/main/java/seedu/ecardnomics/powerpoint/PowerPoint.java
  src/test/java/seedu/ecardnomics/parser/DeckParserTest.java
  src/test/java/seedu/ecardnomics/parser/NormalParserTest.java
Labels: type.Enhancement, type.Guide, type.Task

#116 Implement one-liner commands
  .gitignore
  src/main/java/seedu/ecardnomics/Ui.java
  src/main/java/seedu/ecardnomics/parser/DeckParser.java
  src/main/java/seedu/ecardnomics/parser/NormalParser.java
  src/test/java/seedu/ecardnomics/parser/DeckParserTest.java
  src/test/java/seedu/ecardnomics/parser/NormalParserTest.java
Labels: priority.Low, type.Task

#117 Merge branch-UserGuide to master
  docs/UserGuide.md
Labels: type.Guide, type.Task

#119 Update Help commands
  data/deckList.txt
  docs/UserGuide.md
  pptx/Micro-Economics.pptx
  src/main/java/seedu/ecardnomics/Main.java
  src/main/java/seedu/ecardnomics/Ui.java
  src/main/java/seedu/ecardnomics/command/deck/HelpCommand.java
  src/main/java/seedu/ecardnomics/command/normal/HelpCommand.java
  src/main/java/seedu/ecardnomics/game/GameEngine.java
  src/main/java/seedu/ecardnomics/parser/GameParser.java
  src/test/java/seedu/ecardnomics/UiTest.java
Labels: priority.High, type.Bug, type.Task

#156 Update UG Command Summary, `help` documentation, TOC
  docs/UserGuide.md
  src/main/java/seedu/ecardnomics/command/deck/HelpCommand.java
  src/main/java/seedu/ecardnomics/command/normal/HelpCommand.java
Labels: priority.Medium, severity.Medium, type.Guide, type.Task

#157 fix wild 0 in deck's start command
  data/deckList.txt
  src/main/java/seedu/ecardnomics/parser/DeckParser.java
Labels: severity.Low, type.Bug
